{
    "extends": "airbnb",
    "rules": {
        "no-var": 0,
        "quotes": [2, "double"],
        "camelcase": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": true, "optionalDependencies": true, "peerDependencies": true}]
    }
}